Revision history of the Treex-Doc distribution:

0.08324        2012-02-29

    - improvements in documentation

0.07297        2011-11-15

    - the first release at CPAN - FAQ and Tutorial

For detailed log of changes see https://svn.ms.mff.cuni.cz/projects/tectomt_devel/timeline (Use 'public' username and same password)
